{% extends "app/main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un technicien</title>
</head>

{% block content%}
    <form class="form" method="post">
        <h2 class="technician-title">Ajouter un technicien</h2>
        {% csrf_token %}
        <label class="label" for="username">Nom d'utilisateur :</label><br>
        <input class="input" type="text" id="username" name="username" required><br>
        
        <label class="label" for="email">Email :</label><br>
        <input class="input" type="email" id="email" name="email" required><br>
        
        <label class="label" for="password">Mot de passe :</label><br>
        <input class="input" type="password" id="password" name="password" required><br>
        
        <button class="btn btn--login" type="submit">Ajouter le technicien</button>
    </form>
{% endblock %}
</html>
