{% extends "app/main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une équipe</title>
</head>
{% block content %}
    <form class="form" method="post">
        <h2>Create Team</h2>
        {% csrf_token %}
        <label class="label" for="team_name">Name of the team:</label><br>
        <input class="input" type="text" id="team_name" name="team_name"><br><br>
        <input class="btn btn--login" type="submit" value="Créer">
    </form>
{% endblock %}
</html>
