<!-- edit_member.html -->
{% extends "app/main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier le membre</title>
</head>
{% block content%}
   
    <form class="form" method="post">
        <h2 class="title-manager">Change Informations</h2>
        {% csrf_token %}
        <label for="username">Login :</label>
        <input class="input" type="text" id="username" name="username" value="{{ user.username }}"><br>

        <label for="email">E-mail:</label>
        <input class="input" type="email" id="email" name="email" value="{{ user.email }}"><br>

        <label for="first_name">Firstname:</label>
        <input class="input" type="text" id="first_name" name="first_name" value="{{ user.first_name }}"><br>

        <label for="last_name">Lastname:</label>
        <input class="input" type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br>

        <label for="password">Password:</label>
        <input class="input" type="password" id="password" name="password"><br>

        <input class="btn btn--login" type="submit" value="Enregistrer les modifications">
    </form>
{% endblock %}
</html>
