<!-- home.html -->
{% extends "app/main_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .column {
            float: left;
            width: 25%;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

{% block content %}

    <div class="content">

        <div class="presentation">
            <h1 class="presentation__name">Welcome <span class="presentation__purple-text">{{ user.username }} ( {% for group in user_groups %}
                {{ group.name }}
            {% endfor %}) !</span></h1>
            <p class="description"> in this space you can see all the information relating to your work orders.</p>
            <p class="description"> You can also chat with your work colleagues via integrated messaging .</p>
        </div>

  
        
    
    {% if can_create_team %}
       
    {% else %}
        {% if group.id == 2 %}
        <h2>Votre équipe :</h2>
        <ul>
           
            {% for team_name in manage_teams %}
                <li>{{ team_name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <ul>
            
            {% for team_name in technician_teams %}
              
            {% endfor %}
        </ul>
        {% endif %}
        <ul>
            
            {% for team_name in manage_teams %}
                <li>{{ team_name }} d1</li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'users_without_team' %}">Voir les utilisateurs sans équipe</a></p>
    {% endif %}
        
        
      
            </div>

{% endblock %}
</div>
</html>