<!-- login.html -->
{% extends "app/home_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

{% block title %}
<h2> Login into your account </h2>
{% endblock %} 


{% block form %}

    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form class="form" method="post">
        {% csrf_token %}
        <label for="username" class="label"> Login : </label></br>
        <input type="text" class="input" name="username" placeHolder="Enter your login">
        </br></br></br>
        <label for="password" class="label"> Password : </label></br>
        <input type="Password" class="input" name="password"  placeHolder="Enter your password"></br></br></br>
        <input class="btn btn--login" type="submit" value="Log in">
    </form>
    

{% endblock %} 
