{% extends "app/main_layout.html" %}
{% block content %}
<div class="form">
    <h2>Uploaded Models</h2>
    <ul>
        {% for model in modelsFiles %}
            <li>
                {{ model.file.name }} - {{ model.equipement.name }}
                <form action="{% url 'download_model' model.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn--register btn-danger btn__register">Download</button>
                </form>
                {% if can_delete_model %}
                <form action="{% url 'delete_model' model.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn--login btn-danger">Delete</button>
                </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
