<!-- task_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des tâches</title>
</head>
<body>
    <h1>Liste des tâches</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>État</th>
                <th>Type</th>
                <th>Responsable</th>
                <!-- Ajoutez d'autres en-têtes de colonne si nécessaire -->
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.stage_id }}</td>
                <td>{{ task.maintenance_type }}</td>
                <td>
                    {% if task.user_id %}
                    {% for user in users %}
                        {% if user.id == task.user_id %}
                            {{ user.username }}
                        {% endif %}
                    {% endfor %}
                    {% else %}
                        Non défini
                    {% endif %}
                </td>
                <!-- Ajoutez d'autres colonnes si nécessaire -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
