{% extends "app/main_layout.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technician group members</title>
</head>
{% block content %}
    <h2 class="members-title">Technician group members</h2>
    <div class="members">
        <ul class="members-list">
            {% for member in members %}
                <li class="member">
                    <br>
                    <strong class="member-margin">ID:</strong> {{ member.id }}<br>
                    <strong>Login:</strong> {{ member.username }} <br>
                    <strong>E-mail:</strong> {{ member.email }} <br>
                    <button class="btn btn--login"><a class="btn-text btn-text--login" href="{% url 'delete_member' member.id %}">Delete</a></button>
                    <button class="btn btn--register"><a class="btn-text btn-text--register" href="{% url 'edit_member' member.id %}">Change</a></button>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
